html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1f1f1f;
}

a {
  color: inherit;
  text-decoration: none;
}

.off {
  display: none;
}

* {
  box-sizing: border-box;
}

.preWrap {
  white-space: pre-wrap;
}

.noWrap {
  white-space: nowrap;
}

.whNormal {
  white-space: normal;
}

.circle {
  border-radius: 50%;
}

.imgCircle {
  border-radius: 50%;
  background-position: center;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.titleSpan {
  font-weight: 800;
}

.ovHide {
  overflow: hidden;
}

.floatR {
  float: right;
}

span.circleButton {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
.span.circleButton:hover {
  opacity: 0.6;
}

/*//////////////////////
Href
//////////////////////*/

.hrefBox {
  cursor: pointer;
  position: relative;
}
.hrefBox:hover {
  opacity: 0.7;
}
.hrefBoxIn {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*///////////////////
margin padding
//////////////////*/

.p3 {
  padding: 3px;
}

/* top */
.mt120 {
  margin-top: 120px;
}
.mt100 {
  margin-top: 100px;
}
.mt90 {
  margin-top: 90px;
}
.mt60 {
  margin-top: 60px;
}
.mt50 {
  margin-top: 50px;
}
.mt40 {
  margin-top: 40px;
}
.mt30 {
  margin-top: 30px;
}
.mt25 {
  margin-top: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mt12 {
  margin-top: 12px;
}
.mt10 {
  margin-top: 10px;
}
.mt8 {
  margin-top: 8px;
}
.mt5 {
  margin-top: 5px;
}
.mt3 {
  margin-top: 3px;
}
.mta {
  margin-top: auto;
}

.pt60 {
  padding-top: 60px;
}
.pt40 {
  padding-top: 40px;
}
.pt30 {
  padding-top: 30px;
}
.pt20 {
  padding-top: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt5 {
  padding-top: 5px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt3 {
  padding-top: 3px !important;
}

/* bottom */
.mb300 {
  margin-bottom: 300px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mba {
  margin-bottom: auto;
}

.pb120 {
  padding-bottom: 120px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}

/* right */
.mr5 {
  margin-right: 5px;
}
.mr7 {
  margin-right: 7px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mra {
  margin-right: auto;
}

.pra {
  padding-right: auto;
}
.pr20 {
  padding-right: 20px;
}
.pr10 {
  padding-right: 10px !important;
}
.pr5 {
  padding-right: 5px !important;
}

/* left */
.ml5 {
  margin-left: 5px;
}
.ml25 {
  margin-left: 25px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.mla {
  margin-left: auto !important;
}

.pla {
  padding-left: auto;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl11 {
  padding-left: 11px;
}
.pl20 {
  padding-left: 20px;
}
.pl100 {
  padding-left: 100px;
}

/*///////////////////
width height
///////////////////*/
/*   %     */
.wauto {
  width: auto;
}
.w5 {
  width: 5%;
}
.w8 {
  width: 8%;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w48 {
  width: 48%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}

.wM500px {
  width: 100%;
  max-width: 500px;
}
.wM1200px {
  max-width: 1200px;
}

/*    px      */
.w20px {
  width: 20px;
}
.w30px {
  width: 30px;
}
.w40px {
  width: 40px;
}
.w60px {
  width: 60px;
}
.w120px {
  width: 120px;
}
.w200px {
  width: 200px;
}

/*    min      */
.mw-30 {
  min-width: 30px;
}
.mw-50 {
  min-width: 50px;
}
.mw-80 {
  min-width: 80px;
}

.h100 {
  height: 100%;
}

.h90px {
  height: 90px;
}
.h50px {
  height: 50px;
}
.h40px {
  height: 40px;
}
.h30px {
  height: 30px;
}
.hauto {
  height: auto;
}

/*////////////////////
break
////////////////////*/
.brAll {
  word-break: break-all;
}

/*//////////////////////
flex
//////////////////////*/
.flexCen {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  flex: 1;
  -webkit-flex: 1;
}

.flexNormal {
  display: flex;
  display: -webkit-flex;
}

.flexRow {
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

.spBw {
  justify-content: space-between;
}
.jsCen {
  justify-content: center;
}
.stretch {
  justify-content: stretch;
}
.spEv {
  justify-content: space-evenly;
}

.alCen {
  align-items: center;
}
.alFlBot {
  align-items: flex-end;
}

.flexCol {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

/*//////////////////////////
frame
//////////////////////////*/

/*
.frame {
  background-size: cover;
  background-position: center;
  padding-top: 56%;
  position: relative;
}

.frameContain {
  width: 100%;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}

.frameCover {
  width: 100%;
  background-position: center;
  background-size: cover;
}
*/

.frame {
  position: relative;
}
.frame img.contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.frame img.cover {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*/////////////////
form
/////////////////*/

.field > label {
  display: block;
}

input[type="text"],
input[type="number"],
textarea,
input[type="password"],
input[type="email"] {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  font-size: 16px;
}

input[type="submit"] {
  color: #fff;
  background-color: #49b334;
  padding: 2px 5px 2px 5px;
  border: none;
  border-radius: 6px;
}

select {
  padding: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 0.6em 1em;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button[type="submit"]:hover {
  opacity: 0.6;
}

/*////////////////
header
////////////////*/

header {
  background-color: #fff;
}

.headerCon {
  height: 56px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.headerCon .circle {
  height: 40px;
  background-color: #fff;
}
.headerCon .halfCircle {
  height: 40px;
  border-radius: 50px;
  background-color: #ff9985;
  color: #fff;
}
.headerCon .toPost {
  width: 40px;
  font-size: 28px;
  border: 1px solid #edf2f7;
  background-color: #ff9985;
}

.headerCon2 {
  height: 30px;
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
}
.headerCon2 > div {
  background-color: #fff;
  color: #707070;
  margin-left: 2px;
  margin-right: 12px;
  height: 100%;
  border-bottom: 2px solid #fff;
}
.headerCon2 > div.now {
  border-color: #1f1f1f;
  color: #1f1f1f;
}

.headerTop {
  font-size: 24px;
}
.headerUserArea .imgCircle {
  width: 40px;
  height: 40px;
  border: 1px solid #edf2f7;
}

.headerCon .toPostPage {
  display: block;
  padding: 0.3em 0.6em;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.headerCon .toPostPage:hover {
  opacity: 0.6;
}

.messageZone {
  background-color: #1f1f1f;
  color: #fff;
  padding: 0.4em 1em;
  width: 100%;
  max-width: 800px;
  word-break: break-all;
  margin: 0 auto;
  border-radius: 6px;
}

/*///////////////
main
///////////////*/

.content {
  min-height: calc(100vh - 162px);
  width: 100%;
  max-width: 800px;
  padding-bottom: 60px;
  padding-top: 16px;
}

/*/////////////////
anime
/////////////////*/

.oneAnime .frame {
  width: 200px;
  height: 266px;
}
.thumb {
  background-color: #f1f1f1;
}

.watchStateBtn {
  width: 18%;
  border-radius: 6px;
  height: 100px;
  color: #fff;
  background-color: #fac5b9;
  cursor: pointer;
  text-shadow: 0 0 5px #000;
}
.watchStateBtn:hover {
  opacity: 0.6;
}
.watchStateBtn.selected {
  border: 4px solid #1f1f1f;
}
.watchStateZone .watchStateBtn:nth-child(2) {
  background-color: #ff937a;
}
.watchStateZone .watchStateBtn:nth-child(3) {
  background-color: #f25430;
}
.watchStateZone .watchStateBtn:nth-child(4) {
  background-color: #e82a00;
}
.watchStateZone .watchStateBtn:nth-child(5) {
  background-color: #a81f00;
}

.avgStar {
  text-align: center;
  margin-bottom: 6px;
  font-size: 40px;
}

.reviewStars {
  color: #fff;
  text-shadow: 0 0 3px #1f1f1f;
}
.reviewStars .star {
  cursor: pointer;
}
.reviewStars .star.active {
  color: #1f1f1f;
}
.reviewStars:hover {
  opacity: 0.7;
}

.animeDetailTop .thumbWrapper {
  width: 30%;
}
.animeDetailTop .thumb {
  padding-top: 133%;
}
.curiousArea {
  padding: 5px 10px;
  background-color: #ff937a;
}

.highcharts-container {
  width: 100% !important;
}

textarea.reviewContent {
  width: 100% !important;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #f7f7f7;
  border: none;
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
  resize: none;
}

.reviewList .imgCircle {
  width: 20px;
  height: 20px;
  border: 1px solid #edf2f7;
}

/*/////////////
watch
/////////////*/

.aWatch {
  width: 48%;
  border-radius: 6px;
  border: 1px solid rgba(31, 31, 31, 0.3);
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}
.aWatch:hover {
  opacity: 1;
}
/*
.aWatch.watch_1 {
  border-color: #ffc908;
}
.aWatch.watch_2 {
  border-color: #56ff08;
}
.aWatch.watch_3 {
  border-color: #ff7308;
}
.aWatch.watch_4 {
  border-color: #ff3508;
}
*/
.aWatch.watch_0:hover {
  box-shadow: 6px 10px 10px rgba(250, 197, 185, 0.6);
}
.aWatch.watch_1:hover {
  box-shadow: 6px 10px 10px rgba(255, 147, 122, 0.6);
}
.aWatch.watch_2:hover {
  box-shadow: 6px 10px 10px rgba(242, 84, 48, 0.6);
}
.aWatch.watch_3:hover {
  box-shadow: 6px 10px 10px rgba(232, 42, 0, 0.6);
}
.aWatch.watch_4:hover {
  box-shadow: 6px 10px 10px rgba(168, 31, 0, 0.6);
}

/*///////////////////
review
///////////////////*/

.usersReview {
  padding: 0.75em 0.5em;
  border-radius: 6px;
}
.usersReview:hover {
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
}
.usersReview h3::before,
.usersReview h3::after {
  border-top: 1px solid #1f1f1f;
  content: "";
  width: 1.5em;
}
.usersReview h3::before {
  margin-right: 0.75em;
}
.usersReview h3::after {
  margin-left: 0.75em;
}

/*///////////////////
blog
///////////////////*/

.markDown input[type="text"] {
  max-width: 100%;
  font-size: 24px;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border: none;
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
}
.markDown textarea {
  width: 100% !important;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #f7f7f7;
  border: none;
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
  resize: none;
}
.markDown textarea.content {
  min-height: 300px;
}

.columnArea .abstract {
  padding: 1em 0.6em;
  background-color: #f1f1f1;
}

.aBlog {
  border-radius: 6px;
  padding: 0.5em 0.2em;
}
.aBlog .abstractZone {
  max-height: 72px;
}
.aBlog:hover {
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
}

.selectRelAnime,
.selectedRelAnime {
  list-style: none;
  padding: 0;
}
.selectRelAnime li,
.selectedRelAnime li {
  display: inline-block;
  margin-right: 24px;
  padding: 5px 0;
}
.selectRelAnime .addButton {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #1f1f1f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
}
.selectRelAnime .addButton:hover {
  opacity: 0.6;
}

.relAnimeList span {
  display: inline-block;
  padding: 0.4em;
  background-color: #555555;
  color: #fff;
  border-radius: 4px;
  font-size: 0.8em;
  margin-bottom: 2px;
}

.selectedRelAnime span.circleButton {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #a81f00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
}

.ownerOnly button {
  background-color: #1f1f1f;
  color: #fff;
  height: 44px;
  border: none;
  border-radius: 6px;
}

.authorZone > div {
  padding: 0.6em 0.6em;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(31, 31, 31, 0.3);
}
.authorZone .imgCircle {
  height: 60px;
  width: 60px;
  border: 1px solid #edf2f7;
  margin-right: 12px;
}
.authorZone p {
  flex: 1;
  overflow: hidden;
}

/*///////////////////
responsive
///////////////////*/

@media screen and (max-width: 799px) {
  .headerCon,
  .footerCon,
  .headerCon2,
  .content {
    padding: 0 6px;
  }
  .watchStateBtn {
    height: 72px;
  }
}

@media screen and (max-width: 559px) {
  .aWatch {
    width: 100%;
  }
  .watchStateBtn {
    height: 56px;
  }
  .animeDetailTop .thumbWrapper {
    width: 100%;
  }
  .animeDetailTop .thumbWrapper .thumb {
    width: 80%;
    margin: 0 auto;
  }
}
